*{
    padding: 0;
    margin: 0;
}


nav{
    background-color: #1b8092;
    height: 80px;
    width: 100%;
}
label.logoa{
    color: white;
    font-size:35px ;
    line-height: 80px;
    font-weight: bold;
    padding: 0 180px;
    }
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #235190;
        border-radius: 7px;
        background-color:#225789;
        
    }
